<% layout('layouts/boilerplate') %>
<h1>Event Grounds</h1>
    <div>
        <a href="/eventgrounds/new">Add new Event Ground</a>
    </div>
    <ul>
        <% for (let eventground of eventgrounds){%>
            <li><a href="/eventgrounds/<%= eventground.id %>"><%= eventground.title %></a></li>
        <% } %>
    </ul>
