<% layout('layouts/boilerplate') %>
    <form action="/eventgrounds" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="eventground[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="eventground[location]">
        </div>
        <button>Add Event Ground</button>
    </form>
    <a href="/eventgrounds">All Event Grounds</a>